.single-product{
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gainsboro;
    margin: 15px;
    padding:10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.add-cart-btn{
    padding: 6px 40px;
    background-color: #F0C14B;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}